[Desktop Entry]
Version=1.0
Name=Helium
GenericName=Web Browser
Comment=Access the Internet
Exec=@HOME@/.local/bin/helium %U
StartupNotify=true
Terminal=false
Icon=helium
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/xhtml+xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=@HOME@/.local/bin/helium

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=@HOME@/.local/bin/helium --incognito
